#mouse{
    background-color:#3991e4;
    width:120px;
    height:20px;
    padding:40px;


}

#mouse1{
    background-color:#ce3eb6;
    width:200px;
    height:40px;
    padding:40px;


}
 #mouse2{
    background-color:#D94A38;
    width:90px;
    height:20px;
    padding:40px;
 }