<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>softDev</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="cover">
            <div class="nabvar">
                <div class="logo">
                    <img src="asset/image/logo.png" alt="">
                </div>
                <div class="search">
                    <div class="ffolat">
                        <div class="srBar">
                            <p>Search Website</p>
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="buy">
                            <button><span class="bb">Buy $12</span></button>
                            <i class="fas fa-bars"></i>
                        </div>
                </div>
        
                <div class="heading">
                    <h1>We are Members of <br> softDev</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptate? Earum dolores <br> sapiente animi quos nulla vero minus quidem ad perferendis,  rerum provident aut quo dolorem. <br> Commodi, doloremque cupiditate. Sint?</p>
              

                </div>
            </div>
        </div>
    </div>
    







</body>
</html>