body{
  background: rgb(106,169,185);
  background: linear-gradient(90deg, rgba(106,169,185,0.8799894957983193) 12%, rgba(113,159,204,0.8295693277310925) 47%, rgba(100,137,209,0.8715861344537815) 88%);
    background-repeat: no-repeat;
    background-size: cover; 
}
.container {
    margin-top: 15%;
  }
  
  div.col-sm-4:nth-child(2) {
    background: rgb(242,246,247);
background: linear-gradient(90deg, rgba(242,246,247,0.6) 12%, rgba(245,247,249,0.6) 47%, rgba(239,240,242,0.6) 88%);
    height: 414px;
    border-radius: 19px;
  }
  .tAlign{
    text-align: center;
    }

div.col-sm-4:nth-child(2) > h1:nth-child(1) {
    font-family: 'Oswald', sans-serif;
  }


.btn {
    margin-top: 22px;
  }
  
.btn > a:nth-child(1) {
  text-decoration: none;
  color: #fff;
}
