<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jevelin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <!-- AOS  -->

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  
      <!-- CSS -->
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    
    <div>
        <nav class="navbar  navbar-default navbar-expand-lg fixed-top">
          <div class="container-fluid">

            <a href="#" class="navbar-brand text-uppercase"><img src="asset/image/logo.png"></a>
            <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
              <div class="line1 ham"></div>
              <div class="line2 ham"></div>
              <div class="line3 ham"></div>      
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">About</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Departments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-search"></i>
                    </a>
                  </li>
              </ul>
            </div>
          </nav>
    </div>
    <div class="wrapper">
        <div class="cover"> 
          <div id="n"data-aos="zoom-in-up">
                <div class="heading">
                  <h1 id="h"><b>Proffesional</b></h1>
                   <h1 id="h1"><b>Family Health Care</b></h1>
                    <p id="p1">CREATE YOUR MEDICAL WEBSITE USING JEVELIN
                    </p>
                    <img id="img" src="asset/image/icons.png">
                </div>
              </div>
        </div>

              <!-- Second Part  -->

              <div id="second">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm1-40">
                      <h2>1-800-600-380
                      </h2>
                      <h5>EMERGENCY SERVICE
                      </h5>
                      <p>Aliquam erat volutpat. Nullam imperdiet sapien felis, non<br> lobortis odio mattis in. Quisque dapibus aliquet dictum.<br> Integer dapibus ullamcorper est, ac .
                      </p>
                      <button type="button" class="btn btn-outline-info">see more</button>  
                    </div>

                    <div class="col-sm2-50">
                      <i class="far fa-calendar-minus"></i>
                      <h6>DO YOU WANT TO MAKE AN<br> APPOINTMENT</h6>
                      <p>Aliquam erat volutpat. Nullam imperdiet sapien felis, non <br> lobortis odio mattis in. Quisque dapibus aliquet dictum.
                      </p>
                      <button type="button" class="btn1 btn-outline-info">book now</button>
                    </div>

                    <div class="col-sm3-40">
                      <i class="far fa-clock"></i>
                      <h6>OPENING HOURS</h6>
                      <p>Monday – Friday
                      </p>
                      <p>Saturtay – Sunday
                      </p>
                      <button type="button" class="btn btn-outline-info">see more</button>  
                    </div>
                  </div>
                </div>

                <div class="Third">
                  <img src="asset/image/Layer-1200.png" class="float-left">

                  <div data-aos="fade-left"
                  data-aos-offset="300"
                  data-aos-easing="ease-in-sine">
                  <div class="sob"> <div class="h2">
                    <h1><b>About</b> Jevelin Clinic
                    </h1>
                    <p>PROFESSIONAL CARE</p><br>
                  </div>
                    <div class="p01"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci ex,<br> pulvinar nec finibus ut, cursus eget libero. In dictum sem non sapien<br> condimentum aliquet. Nulla facilisi. Mauris efficitur dolor dolor, id porta nulla<br> interdum vitae.
                    </p>
                  </div>

                  <div class="troggle">
                    <p id="p"><b>Medical Consulting</b></p>
                    <i class="fas fa-chevron-down"></i>
                    <div id="lorem1"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra,<br>urna non pellentesque sollicitudin, felis lorem porta nibh, suscipit<br> lacinia ante augue venenatis nibh. Nullam tristique ornare lorem at</p>
                    </div>
                  </div>
                        
                  <div class="troggle1">
                    <div id="Laboratory"><p><b>Laboratory Analysis</b></p>
                      <i class="fas fa-chevron-down"></i>
                    </div>
                    <div id="lorem2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra,<br> urna non pellentesque sollicitudin, felis lorem porta nibh, suscipit <br> lacinia ante augue venenatis nibh. Nullam tristique ornare lorem at </p>
                    </p></div>
                  </div>
                  <div class="troggle3">
                    <div id="Diagnostic"><p><b>Diagnostic Clinic</b></p>
                      <i class="fas fa-chevron-down"></i>
                    </div>
                    <div id="lorem3"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra,<br> urna non pellentesque sollicitudin, felis lorem porta nibh, suscipit <br> lacinia ante augue venenatis nibh. Nullam tristique ornare lorem at </p>
                    </p></div>
                  </div>
                </div>
                  </div>

                <Div class="Four">
                  <div class="cover2">
                    <h1><b>How we can help you</b></h1>
                    <p>READ MORE ABOUT OUR SERVICES</p>

                    <div class="icons">
                      <div class="done">
                      <div class="eyes">
                        <img src="asset/image/eyes.jpg" alt="">
                        <h5><b>Ophthalmology</b>
                        </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Mauris eleifend, orci sed egestas<br> faucibus, leo sapien laoreet massa, feugiat</p>
                      </div>
                      <div class="cardio">
                        <img src="asset/image/cardiology.jpg" alt="">
                        <h5><b>Cardiology
                        </b>
                        </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Mauris eleifend, orci sed egestas<br> faucibus, leo sapien laoreet massa, feugiat</p>
                      </div>
                      <div class="dentist">
                        <img src="asset/image/Dentist.jpg" alt="">
                        <h5><b>Dentistry
                        </b>
                        </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Mauris eleifend, orci sed egestas<br> faucibus, leo sapien laoreet massa, feugiat</p>
                      </div>
                      </div>

                      <div class="laboratory">
                        <img src="asset/image/Laboratory.jpg" alt="">
                        <h5><b>Laboratory
                        </b>
                        </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Mauris eleifend, orci sed egestas<br> faucibus, leo sapien laoreet massa, feugiat</p>
                      </div>

                      <div class="pedia">
                        <img src="asset/image/pedia.jpg" alt="">
                        <h5><b>Pediatrics
                        </b>
                        </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Mauris eleifend, orci sed egestas<br> faucibus, leo sapien laoreet massa, feugiat</p>
                      </div>

                      <div class="radio">
                        <img src="asset/image/Radiology.jpg" alt="">
                        <h5><b>Radiology
                        </b>
                        </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Mauris eleifend, orci sed egestas<br> faucibus, leo sapien laoreet massa, feugiat</p>
                      </div>
                    </div>
                    </div>
                    
                  </div>

                  <!-- Fifth Part -->
                

                  <div class="fifth">
                    <div class="cover3">
                      <div data-aos="fade-right"
                      data-aos-offset="200"
                      data-aos-easing="ease-in-sine">
                      <div id="co"><h1><b>Jenna</b> Berg</h1><br>
                        <h6>
                          PROFESSIONAL DENTIST
                          </h6><br><br>
                        <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus<br> orci ex, pulvinar nec finibus ut, cursus eget libero. In dictum sem</b></p>
  
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci ex,<br> pulvinar nec finibus ut, cursus eget libero. In dictum sem non sapien<br> condimentum aliquet. Nulla facilisi. Mauris efficitur dolor dolor, id porta nulla<br> interdum vitae.</p>
  
                        <button type="button" class="btn2 btn-outline-info"><b>View All Doctors</b></button>  
                      </div>
                 </div>
                    
                    </div>
                    </div>
                  </div>
                </Div>
                  </div>                
                  </div>
                </div>
                </div>
                </div>
                </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>








<!-- AOS  -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

    <script src="asset/js/main.js"></script>
</body>
</html>