.newclasss{
text-decoration: none;
color: rgb(194, 34, 34);
}
.head2{

    font-family: 'Lobster', cursive;
    
}
.test{

    text-transform: uppercase;
    text-indent: 550px;
    text-shadow: 2px 2px;
}
.mclass{

    font-size: 200px;
}