


html {
    position: relative;
    bottom: -257px;
  }
  
  #face{
      color: rgb(45, 108, 243);
      font-size: 55px;
    

  }

  #para{
      font-size: 24px;
  }



.wrapper {
    height: 10000px;
  }
  
 
  
  body {
   height: 100px;
    background-color: rgb(223, 221, 221);
  }
  

.container {
    position: relative;
    right: -65px;
    
   
  }

.style {
    position: relative;
    bottom: 1px;
  }
  
  body {
    /* line-height: \\\\; */
    /* line-height: \\; */
    line-height: \\\;;
  }
  
  .btn {
    position: relative;
    width: 32.5%;
  }

#uname {
    position: relative;
    width: 32.5%;
  }
  
  div.form-group:nth-child(2) {
    position: relative;
    width: 32.5%;
  }
  .login{
    
    background: #fff;
    padding: 20px;
    text-align: center;
    height: 415px;
    width: 433px;
    margin: 100px auto;
    font-size: 11px;
    position: relative;
    left: 295px;
    top: -250px;
    border-radius: 10px;
  }




.row {
  margin-bottom: -175px;
}


#email {
  bottom: -22px;
}


#pwd {
  position: relative;
  bottom: -21px;
  border-right-width: -33px;
  border-left-width: 1px;
  margin-right: 7px;
  width: 100px;
}



#pwd {
  position: relative;
  width: 380px;
}




.btn {
  position: relative;
  width: 380px;
  bottom: -38px;
  height: 61px;
}



#pwd {
  height: 61px;
}



#email {
  position: relative;
  height: 61px;
}


/* style.css | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/asset/css/style.css */

#email {
  /* bottom: -22px; */
  bottom: -16px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

#email {
  bottom: 0px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

#pwd {
  bottom: -1px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

.btn {
  bottom: -2px;
}

/* bootstrap.min.css | https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css */

*, ::after, ::before {
  border-radius: 10px;
}

/* style.css | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/asset/css/style.css */

#email {
  border-radius: 5px;
}

#pwd {
  border-radius: 5px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

.btn {
  position: relative;
  border-radius: 5px;
}

/* style.css | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/asset/css/style.css */

#email {
  font-size: 17px;
}

#pwd {
  font-size: 17px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

.btn {
  font-size: 17px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

.login > form:nth-child(1) > p:nth-child(4) > a:nth-child(1) {
  position: relative;
  bottom: -13px;
  font-size: 17px;
}

#success{
  width: 240px;
  height: 61px;
}


/* style.css | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/asset/css/style.css */

#pwd {
  /* width: 380px; */
  width: 395px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

#success > b:nth-child(1) {
  position: relative;
  bottom: -1px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

#success {
  position: relative;
  bottom: -44px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

.login > div:nth-child(2) > p:nth-child(1) > a:nth-child(1) {
  position: relative;
  font-size: 16px;
  color: black;
  bottom: -103px;
}

/* style.css | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/asset/css/style.css */

.wrapper {
 
  height: 100px;
}



.footer {
  position: relative;
  background-color: white;
  height: 200px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

.first {
  position: relative;
  text-align: center;
}
.herf{
  display: inline;
  text-align: center;
  color:rgb(76, 76, 172);
}


/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

.mmm {
  position: relative;
  right: -288px;
  left: 260px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(1) {
  position: relative;
  right: 11px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(34) > a:nth-child(1) {
  position: relative;
  right: -31px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(33) {
  position: relative;
  right: -22px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(32) {
  position: relative;
  right: -8px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(29) > a:nth-child(1) {
  position: relative;
  right: -122px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(28) > a:nth-child(1) {
  position: relative;
  right: -117px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(27) > a:nth-child(1) {
  position: relative;
  right: -111px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(26) > a:nth-child(1) {
  position: relative;
  right: -103px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(25) > a:nth-child(1) {
  position: relative;
  right: -96px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(24) > a:nth-child(1) {
  position: relative;
  right: -89px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(23) > a:nth-child(1) {
  position: relative;
  right: -80px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(22) > a:nth-child(1) {
  position: relative;
  right: -72px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(21) > a:nth-child(1) {
  position: relative;
  right: -64px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(20) > a:nth-child(1) {
  position: relative;
  right: -54px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(19) > a:nth-child(1) {
  position: relative;
  right: -41px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(18) > a:nth-child(1) {
  position: relative;
  right: -29px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(17) > a:nth-child(1) {
  position: relative;
  right: -15px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(14) > a:nth-child(1) {
  position: relative;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(14) > a:nth-child(1) {
  position: relative;
  right: -134px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(13) > a:nth-child(1) {
  position: relative;
  right: -133px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(12) > a:nth-child(1) {
  position: relative;
  right: -125px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(11) > a:nth-child(1) {
  position: relative;
  right: -115px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(10) > a:nth-child(1) {
  position: relative;
  right: -107px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(9) > a:nth-child(1) {
  position: relative;
  right: -96px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(8) > a:nth-child(1) {
  position: relative;
  right: -81px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(7) > a:nth-child(1) {
  position: relative;
  right: -70px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(6) > a:nth-child(1) {
  position: relative;
  right: -56px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(5) > a:nth-child(1) {
  position: relative;
  right: -44px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(4) > a:nth-child(1) {
  position: relative;
  right: -31px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(3) > a:nth-child(1) {
  position: relative;
  right: -20px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(2) {
  position: relative;
  right: -12px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf:nth-child(1) > a:nth-child(1) {
  position: relative;
  right: -11px;
}
.mmm{
  color: rgb(70, 70, 138);
}
.first{
  display: inline;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

.footer > p:nth-child(2) {
  position: relative;
  color: #53539b;
  right: -260px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

.footer > p:nth-child(3) {
  position: relative;
  color: #58589d;
}
.herf1{
  display: inline;
}


/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

.font {
  position: relative;
  bottom: 39px;
  right: -351px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf1:nth-child(1) {
  position: relative;
  right: -2px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf1:nth-child(2) > a:nth-child(1) {
  position: relative;
  right: -6px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf1:nth-child(3) > a:nth-child(1) {
  position: relative;
  right: -11px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf1:nth-child(4) > a:nth-child(1) {
  position: relative;
  right: -16px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf1:nth-child(5) > a:nth-child(1) {
  position: relative;
  right: -24px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf1:nth-child(6) > a:nth-child(1) {
  position: relative;
  right: -31px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf1:nth-child(7) > a:nth-child(1) {
  position: relative;
  right: -35px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf1:nth-child(8) > a:nth-child(1) {
  position: relative;
  right: -42px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf1:nth-child(9) > a:nth-child(1) {
  position: relative;
  right: -48px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

p.herf1:nth-child(10) > a:nth-child(1) {
  position: relative;
  right: -55px;
}

/* Element | file:///E:/softDev5/softDev/mouly/Ptojects/Facebook%20page/index.html */

.mmm {
  position: relative;
  bottom: 14px;
}
.footer{
  display: none;
}
.wrapper{
  display: none;
}