


html {
    position: relative;
    bottom: -257px;
  }
  
  #face{
      color: rgb(45, 108, 243);
      font-size: 55px;
    

  }

  #para{
      font-size: 24px;
  }



.wrapper {
    height: 10000px;
  }
  
 
  
  body {
   
    background-color: rgb(223, 221, 221);
  }
  

.container {
    position: relative;
    right: -65px;
    
   
  }

.style {
    position: relative;
    bottom: 1px;
  }
  
  body {
    /* line-height: \\\\; */
    /* line-height: \\; */
    line-height: \\\;;
  }
  
  .btn {
    position: relative;
    width: 32.5%;
  }

#uname {
    position: relative;
    width: 32.5%;
  }
  
  div.form-group:nth-child(2) {
    position: relative;
    width: 32.5%;
  }
  .login{
    
    background: #fff;
    padding: 20px;
    text-align: center;
    height: 365px;
    width: 420px;
    margin: 100px auto;
    font-size: 11px;
    position: relative;
    left: 295px;
    top: -250px;
  }




.row {
  margin-bottom: -175px;
}


#email {
  bottom: -22px;
}


#pwd {
  position: relative;
  bottom: -21px;
  border-right-width: -33px;
  border-left-width: 1px;
  margin-right: 7px;
  width: 100px;
}
