body {
    height: 800px;
    width: 100%;
    padding-top: 0px;
    border: 5px solid red;
    background-color: rgb(68, 196, 147);
}

h1 {
    color: chartreuse;
    text-align: center;
    font-size: xx-large;
}

p {
    color: chocolate;
    text-align: center;
    font-size: x-large;
}

.a {
    height: 200px;
    border: 5px solid greenyellow;
}

.b {
    height: 200px;
    border: 5px solid rgb(92, 47, 255);

}