.cover{
    background-image: url(../image/cover.jpg);
    height: 750px;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 250px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -73px;
}

  
  .navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.5); */
    color: rgb(18, 16, 16);
  }
  