/* for navbar  */


.cover{
  background-image: url(../image/promo_2.jpg);
  height: 900px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 100%;
    
}


  .fixed-top {
    height: 80px;
    color: white;
   
    background-color: white;
  }
  
  #logo{
      width: 90%;
      height: 50px;
      margin-left: 50%;
      
  }

  
  .btn{
   padding-left: 21.5%;
   padding-right: 21.5%;
   padding-top: 6%;
   padding-bottom: 6%;
    background-color: #efc940;;
    transition: transform .3s,-webkit-transform .3s;
   border-color:#efc940;;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    margin-right: -10%;
    margin-left: 20%;
  } 

  .btn:hover{
    background-color: #efc940;
  
  }
#en{
padding-left: 10%;
padding-top: 5%;
}
#elements{
  padding-left: 10%;
padding-top: 5%;
}
#contacts{
  padding-left: 10%;
  padding-top: 5%;
}
#shop{
  padding-left: 10%;
  padding-top: 5%;
}
#causes{
  padding-left:10%;
  padding-top: 5%;
}
#pages{
  padding-left: 10%;
  padding-top: 5%;
}
#home{
  padding-left: 40%;
  padding-top: 5%;
}
#icon{
  padding-left: 5%;
 font-size: 170%;
  color: blue;
}