.cover{
    background-image: url(../image/Medical-Colleges.jpg);
    height: 800px;
    width: 100%;
    background-position: center;
}

.body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 1.8em;
    text-transform: none;
    letter-spacing: .075em;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #e7bd74;
    background-color: rgba(34,28,28);
    display: block;
  }
  
  .title {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  h1, h2, h3, h4 {
    color: rgba(255,255,255);
    font-weight: 100;
    font-size: 3rem;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
body {
    color: blanchedalmond;
    text-align: right;
  }
  
  :root {
    --red: #e716a9;
  }
  
h1, h2, h3, h4 {
    font-size: 60px;
  }
  