.wrapper{
    margin-top: 3%;
}

.courseform{
    text-align: center;
    align-items: center;
}





  .card1{
      margin-top: 10px;
  }

  .card2,.card3,.card4,.card5{
    margin-top: 10px;
    display: none;

}

.submit{
    display:inline;
}

.smain{
    text-align: center;
}



  


 
  