body{
    margin-top: 0%;
}
.cover{
    background-image: url(../image/coverr.jpg);
    height: 850px;
    width: 100%;
    background-position: center;
    background-repeat: none;

}

.logo img{

    height: 90px;
    width: 90px;
}

.search{
    
    display: inline;
    float:right;
    width: 59%;

}

.srBar p{
    height: 20px;
    width: 125px;
    background-color: rgb(244, 244, 245);
    border-radius: 8px;

    
}
.buy button{
    border-radius: 12px;
    background-color: mediumorchid;
    border: none;
   
}

.buy {
    position: relative;
    left: 730px;
    top: -117px;
  }
  

  .srBar > p:nth-child(1) {
    position: relative;
    left: 550px;
    top: -83px;
  }

.logo > img:nth-child(1) {
    position: relative;
    left: -13px;
    top: -12px;
  }
  
  
  .srBar > p:nth-child(1) {
    top: -90px;
  }
  
  .bb {
    margin-top: -54px;
  }

  .buy {
    top: -125px;
  }
  .fas{
    color: black;
  }

.buy {
    top: -142px;
  }

  .fa-search {
    position: relative;
    top: -124px;
    left: 531px;
  }

  .fa-bars {
    position: relative;
    left: 9px;
    color: blanchedalmond;
  }
  
  .heading{
      color: blanchedalmond;
  }

.srBar > p:nth-child(1) {
    left: 573px;
  }
  
  
  .buy {
    left: 722px;
  }
  .heading h1{
      font-size: 70px;
      position: relative;
    left: 224px;
    top: 133px;
  }
  .heading p{
      font-size: 15px;
      position: relative;
      left: 225px;
      top: 87px;
  }

.fa-search {
  left: 676px;
  top: -125px;
}


/* Second Part  */

.second{
  background-color: rgb(185, 17, 190);
  height: 380px;
  width: 100%;
}

.mobile img{
  height: 360px;
  width: 25%;

}

.mobile > img:nth-child(1) {
  position: relative;
  left: 959px;
  top: -78px;
}
.messenger img{
  height: 200px;
  width: 10%;
}
.messenger > img:nth-child(1) {
  margin-left: 1007px;
  margin-top: 76px;
  position: relative;
  top: -41px;
  left: -21px;
}

.mobile > img:nth-child(1) {
  top: -387px;
  left: 987px;
}

.messenger img {
  /* height: 200px; */
  height: 230px;
}

.mobile img {
  /* height: 360px; */
  /* width: 25%; */
  height: 380px;
  width: 26%;
}


.heading1 > h2:nth-child(1) > b:nth-child(1) {
  position: relative;
  top: -707px;
  left: 298px;
  font-size: 40px;
  color: #ffff;
}


.heading1 > p:nth-child(2) {
  position: relative;
  top: -707px;
  left: 299px;
  color: #ffff;
}

.btn {
  position: relative;
  top: -712px;
  left: 308px;
  border-radius: 40%;
  height: 24px;
  width: 6%;
  background-color: rgb(23, 184, 184);
  border-color: aqua;
}

.btn {
  position: relative;
  top: -698px;
}
.btn {
  /* height: 24px; */
  /* width: 6%; */
  height: 30px;
  width: 7%;
}




























