<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="asset/css/registration.css">
</head>
<body>
    <div class="Wrapper">
        <div class="cover">
            <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                      <div class="col text-center title">
                        <h1>Registration Form</h1>
                      </div>
                    </div>
                    <div class="row align-items-center">
                      <div class="col mt-4">
                        <input type="text" class="form-control" placeholder="First Name">
                      </div>
                    </div>
                    <div class="row align-items-center mt-4">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Last Name">
                      </div>
                    </div>
                    <div class="row align-items-center mt-4">
                      <div class="col">
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                    </div>
                              <div class="row align-items-center mt-4">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Current Address">
                      </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col mt-4">
                          <input type="text" class="form-control" placeholder="Contact Number">
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col mt-4">
                          <input type="text" class="form-control" placeholder="Date/Month/Birth">
                        </div>
                      </div>
                    <div class="row align-items-center mt-4">
                      <div class="col">
                        <input type="password" class="form-control" placeholder="Password">
                      </div>
                      <div class="col">
                        <input type="password" class="form-control" placeholder="Confirm Password">
                      </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                      </div>
                    <div class="row justify-content-start mt-4">
                      <div class="col">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            I hereby agree to abide by the <a href="/">Terms and Conditions.</a>
                          </label>
                        </div>
          
                        <button class="btn btn-primary mt-4">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
    </div>
</body>
</html>