
#cover{
    background: #e9eaed;
    height: 830px;
    width: 100%;
    padding: 10px;
    
}

.center{
    
    background: #fff;
    padding: 20px;
    text-align: center;
    height: 378px;
    width: 395px;
    margin: 100px auto;
    font-size: 11px;
    position: relative;
    left: 295px;
    top: 15px;
    border-radius: 8px;
  }
  body{
    background: #fff;
    font-family: Arial;
    font-size: 14px;
  }
  
  /*Button properties*/
  .btn{
    padding: 3px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .btn-signup{
    background: #6bb933;
    border-color: #60a62e #519f18 #409701;
  }
  
  .btn-login{
    width: 356px;
    height: 53px;
    background: #3a5795; 
    border: none;
    padding: 8px;
    font-size: 25px;
    border-radius: 5px;
  }
  
  .center p{
    margin: 2px 0;
  }
  .first{
    display: block;
    width: 355px;
    height: 55px;
    margin: 10px auto;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border-color: rgb(240, 233, 233);
    box-shadow: none;
    
    
  }
  
.center > p:nth-child(4) > a:nth-child(1) {
  position: relative;
  top: 14px;
  font-size: 15px;
}


button.btn:nth-child(5) {
  position: relative;
  top: 61px;
  height: 50px;
  width: 200px;
}

.btn-success {
  background-color: #1aca42;
  height: 50px;
  width: 200px;
  border-radius: 7px;
}


.btn-login {
  background: #4073e0;
}
#heading{
  text-align: center;
  position: relative;
  top: -387px;
  left: -403px;
  font-size: 25px;
}


#heading > h1:nth-child(1) {
  position: relative;
  left: -28px;
  font-size: 60px;
  color: #3e76f0;
}


#heading > p:nth-child(2) {
  /* position: relative; */
  /* left: 66px; */
  top: -1px;
  
}

.line{
  width: 100%;
}

#heading > p:nth-child(2) {
  margin-left: 118px;
  margin-top: -3px;
}

#heading > p:nth-child(3) {
  margin-left: -26px;
  margin-top: -26px;
}

#heading > p:nth-child(2) {
  margin-left: 305px;
  margin-top: -9px;
}

#heading > p:nth-child(3) {
  margin-left: 163px;
}

#heading > h1:nth-child(1) {
  left: 64px;
}

button.btn:nth-child(6) {
  margin-top: 30px;
}

.line {
  position: relative;
  top: 19px;
}

#cr {
  position: relative;
  top: 50px;
  font-size: 15px;
}
#cr a{
  color: black;
}
#cr p{
  color: rgb(90, 81, 81);
}
.bottom{
  text-align: center;
  font-size: 13px;
}

.bottom > p:nth-child(1) > a:nth-child(1) {
  margin-left: -856px;
  margin-top: -71px;
  position: relative;
  top: 9px;
}

.bottom > p:nth-child(1) > a:nth-child(2) {
  position: relative;
  left: 12px;
  top: 9px;
}

.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > a:nth-child(1) {
  position: relative;
  left: 376px;
  top: -46px;
}

.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > a:nth-child(1) {
  position: relative;
  left: 352px;
  top: -46px;
}


.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) > a:nth-child(1) {
  position: relative;
  left: 360px;
  top: -46px;
}


.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(4) > a:nth-child(1) {
  position: relative;
  left: 363px;
  top: -44px;
}

.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > a:nth-child(1) {
  position: relative;
  left: 652px;
  top: -67px;
}


.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) > a:nth-child(1) {
  position: relative;
  left: 639px;
  top: -67px;
}


.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(3) > a:nth-child(1) {
  position: relative;
  left: 643px;
  top: -69px;
}


.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(4) > a:nth-child(1) {
  position: relative;
  left: 643px;
  top: -68px;
}


.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) > a:nth-child(1) {
  position: relative;
  left: 967px;
  top: -91px;
}


a {
  /* color: #007bff; */
  color: #7b99ba;
}

.far {
  position: relative;
  left: 337px;
  top: -111px;
}

.\32 nd > a:nth-child(1) {
  position: relative;
  top: -103px;
  left: 277px;
  font-size: 13px;
}


.\32 nd > a:nth-child(2) {
  position: relative;
  top: -103px;
  left: 296px;
  font-size: 13px;
}

.\32 nd > a:nth-child(3) {
  position: relative;
  top: -103px;
  left: 313px;
  font-size: 13px;
}

.\32 nd > a:nth-child(4) {
  position: relative;
  top: -102px;
  left: 326px;
  font-size: 13px;
}

.\32 nd > a:nth-child(5) {
  position: relative;
  top: -102px;
  left: 338px;
  font-size: 13px;
}

.\32 nd > a:nth-child(6) {
  position: relative;
  top: -103px;
  left: 351px;
  font-size: 13px;
}

.\32 nd > a:nth-child(7) {
  position: relative;
  left: 362px;
  top: -103px;
  font-size: 13px;
}

.\32 nd > a:nth-child(8) {
  position: relative;
  top: -101px;
  left: 373px;
  font-size: 13px;
}

.\32 nd > a:nth-child(9) {
  position: relative;
  top: -102px;
  left: 385px;
  font-size: 13px;
}

.\32 nd > a:nth-child(10) {
  position: relative;
  top: -102px;
  left: 391px;
  font-size: 13px;
}


.\32 nd > a:nth-child(11) {
  position: relative;
  top: -102px;
  left: 400px;
  font-size: 13px;
}


.\32 nd > a:nth-child(12) {
  position: relative;
  top: -102px;
  left: 412px;
  font-size: 13px;
}

.\32 nd > a:nth-child(13) {
  position: relative;
  top: -101px;
  left: 422px;
  font-size: 13px;
}

.\32 nd > a:nth-child(14) {
  position: relative;
  top: -101px;
  left: 433px;
  font-size: 13px;
}


.third{
  text-align: center;
  font-size: 13px;
}


/* .............................  */


.third > a:nth-child(1) {
  position: relative;
  top: -101px;
  left: -72px;
}
.third > a:nth-child(2) {
  position: relative;
  top: -100px;
  left: -62px;
}

.third > a:nth-child(3) {
  position: relative;
  top: -100px;
  left: -47px;
}

.third > a:nth-child(4) {
  position: relative;
  top: -100px;
  left: -34px;
}

.third > a:nth-child(5) {
  position: relative;
  top: -100px;
  left: -22px;
}

a {
  position: relative;
}
.third > a:nth-child(6) {
  top: -100px;
  left: -14px;
}

.third > a:nth-child(7) {
  position: relative;
  top: -100px;
  left: 1px;
}

.third > a:nth-child(8) {
  position: relative;
  top: -98px;
  left: 15px;
}

.third > a:nth-child(9) {
  position: relative;
  top: -98px;
  left: 25px;
}

.third > a:nth-child(10) {
  position: relative;
  top: -98px;
  left: 36px;
}

.third > a:nth-child(11) {
  position: relative;
  top: -98px;
  left: 54px;
}

.third > a:nth-child(12) {
  position: relative;
  top: -98px;
  left: 68px;
}

.third > a:nth-child(13) {
  position: relative;
  top: -97px;
  left: 80px;
}
.third > a:nth-child(14) {
  position: relative;
  top: -97px;
  left: 98px;
}

.fourth{
  font-size: 13px;
  text-align: left;
}

.fourth > a:nth-child(1) {
  position: relative;
  top: -99px;
  left: 275px;
}

.fourth > a:nth-child(2) {
  position: relative;
  left: 297px;
  top: -99px;
}


.fourth > a:nth-child(3) {
  position: relative;
  top: -99px;
  left: 328px;
}

.fourth > a:nth-child(4) {
  position: relative;
  top: -99px;
  left: 343px;
}

#para{
  text-align: left;
  font-size: 10px;
}

#para {
  position: relative;
  top: -75px;
  left: 279px;
}

body {
  /* color: #212529; */
  color: #919ca8;
}

.bottom > p:nth-child(1) > a:nth-child(2) {
  top: 7px;
}

#para {
  left: 282px;
  top: -68px;
}


.bottom > p:nth-child(1) > a:nth-child(1) {
  top: 7px;
}

.\32 nd {
  position: relative;
  top: 12px;
}


.third {
  position: relative;
  top: 12px;
}

.fourth {
  position: relative;
  top: 14px;
}

.para {
  top: -69px;
  left: 282px;
}

.third > a:nth-child(1) {
  left: -66px;
}

.fourth > a:nth-child(1) {
  left: 282px;
}

.bottom > p:nth-child(1) > a:nth-child(1) {
  left: 0px;
}

.\32 nd > a:nth-child(1) {
  left: 283px;
}
.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(4) > a:nth-child(1) {
  left: 378px;
}

.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) > a:nth-child(1) {
  left: 372px;
}

.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > a:nth-child(1) {
  left: 360px;
}

.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(4) > a:nth-child(1) {
  left: 659px;
}

.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(3) > a:nth-child(1) {
  left: 651px;
}

.bottom > table:nth-child(3) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) > a:nth-child(1) {
  left: 644px;
}
.far {
  left: 327px;
}
.p{
  color: black;
}
/* 
#full{
  display: none;
} */


/* For Sign Up  */


body {
  /* color: #919ca8; */
  color: #000;
}


.h5, h5 {
  /* font-size: 1.25rem; */
  font-size: 30px;
}


#exampleModalLabel {
  position: relative;
  top: -17px;
}


div.p > p:nth-child(1) {
  position: relative;
  top: 27px;
  left: -105px;
}

.p {
  /* color: black; */
  color: #767272;
}

div.p > p:nth-child(1) {
  left: -112px;
  top: 32px;
}

#exampleModalLabel {
  top: -12px;
}

.form-group{
  width: 48%;
}


div.form-group:nth-child(1) > input:nth-child(2) {
  margin-left: 226px;
  margin-top: -38px;
}

body {
  /* color: #000; */
  color: #131212;
}

.modal-dialog {
  top: 135px;
}


@media (min-width: 576px) {
  .modal-dialog {
    /* max-width: 500px; */
    max-width: 450px;
  }
}

div.form-group:nth-child(1) > input:nth-child(2) {
  margin-left: 215px;
  margin-top: -39px;
}

.form-group1 > input:nth-child(1) {
  margin-top: -5px;
}

.form-group1 > input:nth-child(2) {
  margin-top: 11px;
}
#days{
  height: 30px;
  width: 32%;
}

#months{
  height: 30px;
  width: 32%;
}

#year{
  height: 30px;
  width: 32%;
}

#year {
  margin-left: 11px;
}
#months {
  margin-left: 15px;
}
#year {
  margin-left: 6px;
}

#months {
  margin-left: 7px;
}
.modal-body > form:nth-child(1) > label:nth-child(4) {
  position: relative;
  top: -11px;
}
.DMY {
  margin-top: -18px;
}

body {
  /* color: #131212; */
  color: #6f6565;
  font-size: 13px;
}

#year {
  margin-left: 2px;
}

#months {
  position: relative;
  left: -3px;
}

div.form-check-inline:nth-child(1) {
  margin-top: 18px;
}

.DMY {
  margin-top: -14px;
}


.form-control::placeholder {
  /* color: #6c757d; */
  color: #70757a;
}

.form-group {
  margin-top: 3px;
}

.form-group1 > input:nth-child(1) {
  margin-top: -2px;
}

.form-group1 > input:nth-child(2) {
  margin-top: 14px;
}

button.btn:nth-child(1) {
  margin-top: 28px;
}

#cr > p:nth-child(1) {
  margin-top: 2px;
}


button.btn:nth-child(1) {
  height: 58px;
  width: 60;
  width: 65%;
}


.btn-primary {
  /* background-color: #007bff; */
  /* border-color: #007bff; */
  background-color: #0ee859;
  border-color: none;
}


.btn-primary {
  /* border-color: #007bff; */
  border-color: #2cff00;
}

:root {
  /* --blue: #007bff; */
  --blue: #00ff34;
}


.modal-body > form:nth-child(1) > label:nth-child(4) {
  left: -177px;
}


#last {
  margin-left: -221px;
}

.modal-body > form:nth-child(1) > label:nth-child(4) {
  top: 6px;
}

.DMY {
  margin-top: -1px;
}

button.btn:nth-child(1) {
  height: 55px;
  width: 60%;
}

.btn-primary {
  background-color: #42ae3e;
}

.btn-primary {
  border-color: #1d8e05;
}


.first {
  /* border-color: rgb(240, 233, 233); */
  border-color: rgb(228, 220, 220);
}

body {
  /* color: #6f6565; */
  color: #433b3b;
}

.form-control {
  /* color: #495057; */
  color: #9b9fa3;
}

button.btn:nth-child(1) {
  /* height: 55px; */
  height: 53px;
}

.p {
  /* color: #767272; */
  color: #131212;
}


.center > p:nth-child(4) > a:nth-child(1) {
  top: 15px;
}

a {
  /* color: #7b99ba; */
  color: #6b8db3;
}

.center > p:nth-child(4) > a:nth-child(1) {
  top: 15px;
}

a {
  /* color: #7b99ba; */
  color: #6b8db3;
}


/* radio biutton  */


#last > p:nth-child(1) {
  margin-top: 14px;
  margin-left: -157px;
}
div.form-check-inline:nth-child(2) {
  margin-top: 1px;
}
#ppp > p:nth-child(1) {
  position: relative;
  left: 101px;
  top: 13px;
}


#ppp > p:nth-child(2) {
  position: relative;
  left: 70px;
  top: 9px;
}

#bb {
  margin-left: 215px;
  margin-top: 34px;
  height: 40px;
  width: 30%;
}

#ppp {
  margin-top: 10px;
}


#bb {
  margin-top: 26px;
}

.btn-success {
  /* background-color: #1aca42; */
  background-color: #0ba32e;
}

.p {
  /* color: #131212; */
  color: #9d9595;
}

body {
  /* color: #433b3b; */
  color: #7d7575;
}
.p{
  color: #000;
}

body {
  /* color: #7d7575; */
  color: #100f0f;
}

.form-group > input:nth-child(1) {
  position: relative;
  background-color: #ebe9e9;
}

.form-group > input:nth-child(2) {
  position: relative;
  background-color: #dcdada;
}


.form-group1 > input:nth-child(1) {
  position: relative;
  background-color: gainsboro;
}


.form-control {
  /* color: #9b9fa3; */
  color: #d8d8d8;
}

.form-group1 > input:nth-child(2) {
  position: relative;
  background-color: #dedede;
}


.modal-body > form:nth-child(1) > a:nth-child(5) > i:nth-child(1) {
  position: relative;
  left: -178px;
  top: 6px;
}

a {
  /* color: #6b8db3; */
  color: #161719;
}


#last > a:nth-child(2) > i:nth-child(1) {
  position: relative;
  top: -18px;
  left: 44px;
}


.modal-body > form:nth-child(1) > label:nth-child(4) {
  left: -170px;
}


.modal-body > form:nth-child(1) > a:nth-child(5) {
  left: 7px;
}


div.form-check-inline:nth-child(3) {
  margin-left: -9px;
  margin-top: 4px;
  position: relative;
  top: 3px;
}


#last > p:nth-child(1) {
  margin-top: 14px;
  position: relative;
  top: 6px;
}


div.form-check-inline:nth-child(4) {
  position: relative;
  top: 4px;
}

div.form-check-inline:nth-child(5) {
  position: relative;
  top: 4px;
}

#Female{
border: 1px solid black;
width: 130px;
margin-left: 221px;
margin-top: -13px;
}

#male{
  border: 1px solid black;
width: 130px;
margin-left: 361px;
margin-top: -56px;
}

#custom{
  border: 1px solid black;
width: 130px;
margin-left: 504px;
margin-top: -57px;
}


#Female > label:nth-child(1) {
  margin-top: 10px;
  position: relative;
  left: -28px;
  font-size: 14px;
}

#Female > input:nth-child(2) {
  top: 2px;
  left: 26px;
}

#male > label:nth-child(1) {
  margin-top: 11px;
  left: -34px;
  font-size: 13px;
  position: relative;
}

#male > input:nth-child(2) {
  left: 36px;
  top: 2px;
}

#custom > label:nth-child(1) {
  margin-top: 11px;
  font-size: 13px;
  position: relative;
  left: -28px;
}
#custom > input:nth-child(2) {
  left: 27px;
  top: 4px;
}


#last > a:nth-child(2) > i:nth-child(1) {
  left: -51px;
  top: -14px;
}

#last > p:nth-child(1) {
  top: 4px;
}

#ppp {
  margin-top: -11px;
}

#ppp{
  color: rgb(138, 135, 135);
}
#ppp a{
  color: rgb(107, 107, 192);
}














