
#cover{
    background: #e9eaed;
    height: 830px;
    width: 100%;
    padding: 10px;
    
}

.center{
    
    background: #fff;
    padding: 20px;
    text-align: center;
    height: 365px;
    width: 420px;
    margin: 100px auto;
    font-size: 11px;
    position: relative;
    left: 295px;
    top: 15px;
  }
  body{
    background: #fff;
    font-family: Arial;
    font-size: 14px;
  }
  
  /*Button properties*/
  .btn{
    padding: 3px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .btn-signup{
    background: #6bb933;
    border-color: #60a62e #519f18 #409701;
  }
  
  .btn-login{
    width: 331px;
    height: 50px;
    background: #3a5795; 
    border: none;
    padding: 8px;
    font-size: 25px;
    border-radius: 5px;
  }
  
  .center p{
    margin: 2px 0;
  }
  .first{
    display: block;
    width: 330px;
    height: 50px;
    margin: 10px auto;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border-color: rgb(240, 233, 233);
    box-shadow: none;
  }
  
.center > p:nth-child(4) > a:nth-child(1) {
  position: relative;
  top: 14px;
  font-size: 15px;
}


button.btn:nth-child(5) {
  position: relative;
  top: 61px;
  height: 50px;
  width: 200px;
}

.btn-success {
  background-color: #1aca42;
}


.btn-login {
  background: #4073e0;
}
#heading{
  text-align: center;
  position: relative;
  top: -387px;
  left: -403px;
  font-size: 25px;
}


#heading > h1:nth-child(1) {
  position: relative;
  left: -28px;
  font-size: 60px;
  color: #3e76f0;
}


#heading > p:nth-child(2) {
  position: relative;
  left: 66px;
  top: -1px;
  
}
