

.bg-light {
    
    background-color: #4e81b5 !important;
  }
  


.navbar-brand > img:nth-child(1) {
    height: 40px;
  }
  

li.nav-item:nth-child(1) > a:nth-child(1) {
    padding-right: 4.5rem;
   }
   

#navbarDropdown {
    padding-right: 4.5rem;
  }
  

li.nav-item:nth-child(3) > a:nth-child(1) {
    padding-right: 4.5rem;
  }
  
  .cover{
    background-image: url(../image/homecover.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
  }



div.col-sm:nth-child(1) {
    margin-top: 35px;
  }
  
  
  
  .container {
    /* margin-top: -35px; */
    /* margin-top: 1px; */
    margin-top: -2%;
  }
  


div.col-sm-8:nth-child(2) {
    margin-top: 7%;
    text-align: center;
    color: #ffffff;
  }
  
.col-sm-8 > h1:nth-child(2) {
    
    font-size: 302%;
    font-weight: bold;
    font-family: 'Redressed', cursive;
  }
  
.col-sm-8 > h1:nth-child(1) {
    font-family: 'Redressed', cursive;
    font-family: 'Roboto', sans-serif
  }
  
.col-sm-8 > h1:nth-child(2) {
    margin-top: 1%;
    margin-left: 0px;
  }
  
  .col-sm-8 > h1:nth-child(1) {
    margin-top: 0%;
  }
    
  .col-sm-8 {
    top: 31px;
  }

.col-sm-8 > h5:nth-child(3) {
    font-weight: bold;
    color: #f3ffde;
  }
  

.btn {
    margin-top: 5%;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-top: 0.375rem;
  }
  
.btn > a:nth-child(1) {
    text-decoration: none;
    color: #201e1e;
    font-size: larger;
  }
 

.features > h1:nth-child(1) {
  color: #000;
  margin-top: -7%;
}

img{
  height:150px;
  width:100%;
}

.item{
  padding-left:5px;
  padding-right:5px;
}
.item-card{
  transition:0.5s;
  cursor:pointer;
}
.item-card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.item-card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

.card2{
  margin-top: 5%;
}

.cards .item{
  padding-right: 1%;
}

div.container:nth-child(4) {
  margin-top: 4%;
}
hr.new4 {
  border: 1px solid rgb(12, 12, 12);
}

div.container:nth-child(3) > div:nth-child(1) > div:nth-child(3) > hr:nth-child(1) {
  margin-top: 5rem;
}

div.container:nth-child(3) > div:nth-child(1) > div:nth-child(1) > hr:nth-child(1) {
  margin-top: 5rem;
}

div.container:nth-child(5) > div:nth-child(1) > div:nth-child(1) {
  margin-top: 6%;
}

div.container:nth-child(5) > div:nth-child(1) > div:nth-child(3) {
  margin-top: 6%;
}

div.container:nth-child(5) {
  margin: ;
  margin-top: 2%;
}

