body{
    background-image: url(../image/rr.jpg) ;
    background-color: rgba(0, 0, 0, 0.952);
   
    
   background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
   
}

.mainSection{
   
height: 500px;
}
.heads{
    margin-top: 12%;
}
.align{
    text-align: center;
}


/* Element | file:///D:/softDev/softDev/VIP%20Project/index.html */

div.col-sm-12:nth-child(1) > h1:nth-child(1) {
    color: #ffffff;
    text-decoration: ;
    font-weight: bold;
    font-size: 591%;
    font-family: 'Akaya Telivigala', cursive;
  }
  
/* Element | file:///D:/softDev/softDev/VIP%20Project/index.html */

div.col-sm-12:nth-child(1) > h1:nth-child(1) > span:nth-child(2) {
    position: relative;
    font-size: 50px;
    top: -31px;
  }
  
/* Element | file:///D:/softDev/softDev/VIP%20Project/index.html */

div.col-sm-12:nth-child(2) > img:nth-child(1) {
    height: 161px;
    margin-top: -25px;
  }
  
/* style.css | file:///D:/softDev/softDev/VIP%20Project/asset/css/style.css */


/* style.css | file:///D:/softDev/softDev/VIP%20Project/asset/css/style.css */

div.col-sm-12:nth-child(2) > img:nth-child(1) {
    /* height: 161px; */
    /* margin-top: -25px; */
    height: 44%;
    margin-top: -5%;
  }

/* Element | file:///D:/softDev/softDev/VIP%20Project/index.html */


  
  /* Element | file:///D:/softDev/softDev/VIP%20Project/index.html */
  
  button.btn:nth-child(1) {
    /* margin-right: 221px; */
    margin-right: 50%;
  }
  
  .mybtn1{
      width: 15%;
      padding: 5px;
      background-color: #40e0d021;
     
  }
  .mybtn1 a{
      text-decoration: none;
      color: #ffffff;
  }

  