#sweety{
    background-color: blueviolet;
    padding: 50px;
}

#sweety1{
    background-color:cornsilk;
    padding: 30px;
}


#shova{
    background-color: darkgoldenrod;
    padding: 50px;
}

#shova1{
    background-color: crimson;
    padding: 30px;
}

/* trying */

/* 
#sho{
    background-color: darkgoldenrod;
    padding: 50px;
}

#sho1{
    background-color: crimson;
    padding: 30px;
}

#sweet{
    background-color: blueviolet;
    padding: 50px;
}

#sweet1{
    background-color:cornsilk;
    padding: 30px;
} */



/* For removing  */

#mine{
    background-color: darkblue;
    padding: 60px;

}

#mine p{
    font-size: 40px;
}






























