<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 2</title>
    <!-- bootstarp -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    <section id="cover">
      <div class="center">
        <h2>Log into Facebook</h2>
        <input type="text" placeholder="Email or Phone Number" />
        <input type="password" placeholder="Password" />
        <button class="btn btn-login">Log In</button>
        <p><input type="checkbox" class="checkbox-style" />Keep me Logged in</p>
        <p><a href="#">Forgot Password</a>.<a href="#">Sign up for facebook</a></p>
      </div>
    </section>
    <footer>
        <div class="bottom">
          <p><a href="#">English(US)</a>,<a href="#"> more Languages</a></p>
          <hr />
          
      </div>
    </footer>
    
















<script src="asset/js/main.js"></script>
</body>
</html>