<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 2</title>
    <!-- bootstarp -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

  <!-- CSS -->
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
    <section id="cover">
      <div class="center">
        <input class="first form-control" type="text" placeholder="Email address or Phone Number" /> 
        <input class="first form-control" type="password" placeholder="Password" />
        <button class="btn btn-login">Log In</button>
        <p><a href="#">Forgotten Password?</a></p>
        <hr class="line">
        <button type="button" class="btn btn-success">Create New Account</button>
        <div id="cr">
          <p><a href="#"><b>Create a Page</b></a> for a celebrity, band or business.</p>
        </div>
      </div>
      <div id="heading">
        <h1><b>facebook</b></h1>
        <p>Facebook helps you connect and share</p>
        <p>with the people in your life.</p>
      </div>
    </section>
    <footer>
      <div class="bottom">
        <p><a href="#">English(UK)</a>,<a href="#">বাংলা
        </a></p>
        <hr />
        <table>
        <tr>
          <td><a href="#">অসমীয়া
          </a></td>
          <td><a href="#">हिन्दी
          </a></td>
          <td><a href="#">Bahasa Indonesia
          </a></td>
          <td><a href="#">नेपाली
          </a></td>
          </tr>
        <tr>
          <td><a href="#">中文(简体</a></td>
          <td><a href="#">العربية
          </a></td>
          <td><a href="#">Bahasa Melayu
          </a></td}>
          <td><a href="#">Español
          </a></td>
        </tr>
        <tr>
        <td><a href="#">Português (Brasil)
        </a></td>  
        </tr>
        </table>
        <a href="#"><i class="far fa-plus-square"></i></a>


    </div>
          
      </div>
    </footer>
  






<script src="asset/js/main.js"></script>
</body>
</html>