<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 2</title>
    <!-- bootstarp -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

  <!-- CSS -->
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body>
  <div id="full">
    <section id="cover">
      <div class="center">
        <input class="first form-control" type="text" placeholder="Email address or Phone Number" /> 
        <input class="first form-control" type="password" placeholder="Password" />
        <button class="btn btn-login">Log In</button>
        <p><a href="#">Forgotten Password?</a></p>
        <hr class="line">

        <!-- Create Button Modal  -->

        <div id="bbb"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create New Account</button>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><b>Sign Up</b></h5>
                  <div class="p"><p>It's quick and easy.</p></div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="First name">
                      <input type="text" class="form-control" placeholder="Surname">
                    </div>
                    <div class="form-group1">
                      <input type="text" class="form-control" placeholder="Mobile number or email address">
                      <input type="text" class="form-control" placeholder="New password">
                    </div><br>
          
                    <!-- for dropdown  -->
          
          
                    <label for="label">Date of birth</label>
                    <div class="DMY">
                      <select   name="days" id="days"></select>
                      <select  name="month" id="months"></select>
                      <select   name="year" id="year"></select>
                      
                    </div>
                    <div id="last">
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio">Female
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio">Male
                        </label>
                      </div>
          
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio">Custom
                        </label>
                      </div>
                    </div>
                      </div>
                    </div>
                    </div>
                  </form>
               
          </div>
        </div>
        <div id="cr">
          <p><a href="#"><b>Create a Page</b></a> for a celebrity, band or business.</p>
        </div>
      </div>
      <div id="heading">
        <h1><b>facebook</b></h1>
        <p class="p">Facebook helps you connect and share</p>
        <p class="p">with the people in your life.</p>
      </div>
    </section>
    <footer>
      <div class="bottom">
        <p><a href="#">English(UK)</a><a href="#">বাংলা
        </a></p>
        <hr />
        <table>
        <tr>
          <td><a href="#">অসমীয়া
          </a></td>
          <td><a href="#">हिन्दी
          </a></td>
          <td><a href="#">Bahasa Indonesia
          </a></td>
          <td><a href="#">नेपाली
          </a></td>
          </tr>
        <tr>
          <td><a href="#">中文(简体</a></td>
          <td><a href="#">العربية
          </a></td>
          <td><a href="#">Bahasa Melayu
          </a></td}>
          <td><a href="#">Español
          </a></td>
        </tr>
        <tr>
        <td><a href="#">Português (Brasil)
        </a></td>  
        </tr>
        </table>
        <a href="#"><i class="far fa-plus-square"></i></a>
    </div>
          
    <div class="2nd">
      <tr>
        <td><a href="#">Sign Up 
        </a></td>
        <td><a href="#">Log In
        </a></td>
        <td><a href="#">Messenger
        </a></td>
        <td><a href="#">Facebook Lite
        </a></td>
        <td><a href="#">Watch</a></td>
        <td><a href="#">People
        </a></td>
        <td><a href="#">Pages
        </a></td}>
        <td><a href="#">Page categories
        </a></td>
        <td><a href="#">Places
        </a></td>
        <td><a href="#">Games</a></td>
        <td><a href="#">Locations
        </a></td>
        <td><a href="#">Marketplace
        </a></td}>
        <td><a href="#">Facebook Pay
        </a></td>
        <td><a href="#">Groups
        </a></td>
      </tr>
    </div>


    <div class="third">
      <tr>
        <td><a href="#">Jobs
        </a></td>
        <td><a href="#">Oculus
        </a></td>
        <td><a href="#">Portal
        </a></td>
        <td><a href="#">Instagram
        </a></td>
        <td><a href="#">Local</a></td>
        <td><a href="#">Fundraisers
        </a></td>
        <td><a href="#">Services
        </a></td}>
        <td><a href="#">Voting Information Centre
        </a></td>
        <td><a href="#">About
        </a></td>
        <td><a href="#">Create ad</a></td>
        <td><a href="#">Create Page
        </a></td>
        <td><a href="#">Developers
        </a></td}>
        <td><a href="#">Careers
        </a></td>
        <td><a href="#">Privacy
        </a></td>
      </tr>
      </div>

      <div class="fourth">
        <td><a href="#">Cookies
        </a></td>
        <td><a href="#">AdChoices
        </a></td}>
        <td><a href="#">Terms
        </a></td>
        <td><a href="#">Help
        </a></td>
      </div>
      <p id="para">Facebook &copy; 2021</p>
    </footer>
  
  </div>



<!-- ///////////For Sign Up Page ///////////////////// -->



<script src="asset/js/main.js"></script>
</body>
</html>